html {
  font-size: 1em;
  min-width: 1200px;
  margin: auto;
  font-family: Calibri, Arial, Times New Roman;
}

.logo{
  position: relative;
  margin-left: 50px; 
}

#navBar {
  position: relative;
  height: 44px;
  background: white;
  width: 50%;
  float: right;
  text-align: center;
  margin-top: -60px;
}

#navBar ul {
  list-style: none;
}

#navBar ul li {
  display: inline-block;
  position: relative;
}

#navBar ul li a {
  display: block;
  font-family: arial;
  text-decoration: none;
}

#navBar ul li a {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#navBar ul ul {
  position: absolute;
  left: -900000px;
  top: 70px;
  opacity: 0;
  z-index: 3;
}

#navBar ul ul li {
  position: relative;
}

#navBar > ul > li:hover > ul {
  left: -20px;
  top: 23px;
  opacity: 1;
}


#navBar ul ul li a {
  width: 90px;
  border:1px solid #D6D2D4;
  padding: 10px 20px;
  font-size: 15px;
  color: #515453;
  background: white;  
}

#navBar ul ul li:hover > a {
  background: #f2f2f2;
  color: black;
  font-weight: bold;
  font-style: italic;
}
/*The end of navigation bar*/

/*location*/
.location{
  margin-left: 4%;
  margin-top: 2%;
}

#introBox{
  position: relative;
  border:12px solid grey;
  background-color: #2b2f3a;
  left: 50%;
  top: -35%;
  text-align: center;
  width: 38%;
  height: 20%;
  margin-left: -20%;
  margin-top: 6%; 
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  float: center;
}

#intro {
  color: white;
  font-size: 20px;
  text-align: left;
}

#quotationMark{
  font-size:50px;
  font-family:arial black;
  color:#4069F1;
}

#iconsDiv{
  margin: auto;
  margin-top: 3%;
  width:70%;
  height: 200px;
  clear:both;
}

#aboutIcon{
  width:100px;
  height:100px;
  float: left;
}

#projectIcon{
  width:100px;
  height:100px;
  margin: 0 auto;
}

#contactIcon{
  width:100px;
  height:100px;
  float:right;
}

/*Footer style*/
#footerBar {
  margin-top:7%;
  position: relative;
  height: 44px;
  background: #2b2f3a;
  width: 100%;
  text-align: center;
  border-radius: 20%;
}

#footerBar ul {

  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#footerBar ul li {
  font-family: Helvetica, sans-serif;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 15px 50px;
  color:white;
  float: left;
}

/*Contact me page style*/
#contactMe {
  height:350px;
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

#messageInput {
  min-width: 400px;
  min-height: 150px;
  max-width:400px;
  max-height:150px;
  margin: auto;
}

#sendButton {
  width:10%;
  height:30px;
  font-size: 25px;
  margin-left: 20px;
}
/*about style*/
.boldWords {
  font-weight: bold;
  font-size: 25px;
}

#myInfo {
  position: relative;
}

#myPhoto {
  position:relative;
  float:right;
  top:-350px;
  left:-100px;
  border:8px solid #4069F1;
  border-radius: 5%;
}

/*project style*/
.contents{
  margin:3% 3%;
}

p {
  font-size: 20px;
}

.photos {
  border:5px solid #4069F1;
  border-radius: 5%;
  height:20%;
  width:20%;
  margin-left: -3px
} 

.goTop {
  float: right; 
  margin-right: 5%;
  margin-top: -2%; 
  width:150px;
  height:50px;
  font-size: 20px;
  background: #2b2f3a;
  color: #C2BEBE;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #4069F1;
}

.goTop:hover {
  color:white;
  font-style: italic;
}
  